<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <section class="headerBox">
      <div class="logo">
        <img src="./images/logo-paulina.svg" alt="PAULINA">
        <h2>A Remarkable Sensory Experience</h2>
      </div>
      <nav>
        <a href="#">Host an Event</a>
        <a href="#">Blog</a>
      </nav>
    </section>
    <section class="heroImage">
      <img src="./images/heroImage.png" alt="">
    </section>
  </header>
  <section class="info">
    <h1>YOU'LL FIND AMAZING <span>PRODUCTS AND SERVICES</span></h1>
    <p>Concept House brings an innovative and exciting experience to the heart of San Jose Del Cabo’s art district. Its unique, creative feel compliments the area’s art galleries, boutiques and exquisite gastronomic offer, Concept House has become a “must visit” for visitors and residents alike. Come for dinner or drinks, browse the boutiques, design store and artist studio to immerse yourself in San Jose’s bustling art scene.</p>
    <div class="social">
      <a href="#"> <img src="./images/facebook.svg" alt="FacebookLogo"> Follow us in Facebook</a>
      <a href="#"> <img src="./images/instagram.svg" alt="InstagramLogo"> Follow us in Instagram</a>
    </div>
  </section>
  <section class="gallery">
    <a href="#">
      <div>
        <img src="./images/galleryImage.png" alt="">
        <div>
          <h5 class="bizName">CASA PAULINA</h5>
          <h5 class="slogan">THE ART OF LIVING</h5>
        </div>
      </div>
    </a>
    <a href="#"> <img src="./images/galleryImage.png" alt=""><strong>TIENDA JOSEFINA</strong> HANDCRAFT STORE</a>
    <a href="#"> <img src="./images/galleryImage.png" alt=""><strong>ARTE GALERÍA</strong> ARTIST WORKSHOP SHOWROOM</a>
    <a href="#"> <img src="./images/galleryImage.png" alt=""><strong>CIELO BOUTIQUE</strong> ARTIST WORKSHOP SHOWROOM</a>
    <a href="#"> <img src="./images/galleryImage.png" alt=""><strong>QUINCE COCINA BAR</strong> RESTAURANT</a>
    <a href="#"> <img src="./images/galleryImage.png" alt=""><strong>ONE OF A KIND</strong> FURNITURE</a>
    <a href="#"> <img src="./images/galleryImage.png" alt=""><strong>LUNA</strong> TAGLINE</a>
  </section>
  <section class="events">
    <div>
      <img src="./images/eventsImage.png" alt="">
    </div>
    <div>
      <h2>UPCOMING PUBLIC EVENTS</h2>
      <div>
        <img src="./images/venueImage.png" alt="">
        <h4>SAN JOSE ART WALK</h4>
        <h4>Jan 16, 7PM</h4>
      </div>
      <div>
        <img src="./images/venueImage.png" alt="">
        <h4><strong>OTHER EVENT NAME</strong></h4>
        <h4>Feb 6, 7PM</h4>
      </div>
      <div>
        <img src="./images/venueImage.png" alt="">
        <h4><strong>A DIFFERENT EVENT GOES HERE</strong></h4>
        <h4>Mar 6, 7PM</h4>
      </div>
    </div>
  </section>
  <section class="callToAction">
    <h2>LOOKING TO HOST AN EVENT?</h2>
    <a href="#">TALK TO US</a>
  </section>
  <section class="contact">
    <div>
      <h2><span>LOCATED IN THE HEART OF </span>SAN JOSÉ DEL CABO GALLERY DISTRICT</h2>
      <p>We are located in the Gallery District Morelos, Centro, San Jose del Cabo.</p>
      <a href="#"><img src="./images/locationIcon.svg" alt="map marker"> Directions</a>
      <a href=""><img src="./images/envelope.svg" alt="envelope"> Write us an email</a>
    </div>
    <div>
      <p>Fill in the form and we’ll get in touch shortly</p>
      <form action="">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Visitor name goes here">
        <label for="email">Email</label>
        <input type="text" id="email" name="email">
        <label for="message">Message</label>
        <textarea name="message" id="message" cols="30" rows="10"></textarea>
        <input type="submit" value="SEND">
      </form>
    </div>
  </section>
</body>
</html>