<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <section class="headerBox">
      <div class="logo">
        <img src="./images/logo-paulina.svg" alt="PAULINA">
        <h2>A Remarkable Sensory Experience</h2>
      </div>
      <nav>
        <a href="">Host an Event</a>
        <a href="">Blog</a>
      </nav>

    </section>
    <section class="heroImage">
      <img src="./images/heroImage.png" alt="">
    </section>
  </header>
  
</body>
</html>